/*for footer*/

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: black !important;
}

/*navbar*/
#logo {
	margin-top: -15px;
  vertical-align: middle;
	border-style: none;
	background-size: cover;
	background-position: 50% 25%;
	height: 70px;
	width: auto;
	display: inline-block;
  padding: 5px;
}

.glyphicon {
  padding: 5px;
}


.header {
  font-family: 'Roboto', sans-serif;
  /*font-weight: bold;*/
  color: #FFC000 !important;
  padding: 5px;
}

.navbar {
	background-color: black !important; /*overwrite default background*/
  /*height: 100px;*/
}

.navbar .list-unstyled ul li a {
    color: #337ab7 !important;
    text-decoration: none;
}

.collapse {
	margin-top: 10px; /*menu won't cover the logo*/
  background: black !important;
}

.hvr-grow-shadow:hover {
  color: #fff;
  background-color: #ffffe6  !important;
  border-radius: 5px;
}


/*Carousel*/

 h3	 {
      margin: 10px 0 30px 0;
      /*letter-spacing: 10px;*/      
      font-size: 50px;
      color: #111;
      text-shadow: 3px 2px black;
  }

.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
.carousel-caption h3 {
      color: #fff !important;
  }
 @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }

.carousel-inner {
   margin-top: 100px;
}


/*socila media*/
.socialmedia {
  background: #1a1a1a !important;
  height: 50px;
  padding: 15px;
  color: white;
}

#socialmedia {
  padding: 0;
}


/*tabs*/


.tab {
  color: orange !important;
  background-color: #
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}
.nav-pills {
    margin-top: 20px !important; /*margin for the suggestion to go to left*/
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff !important;
  background-color: #23527c !important;
  border-radius: 5px;
}


/*tab content*/

.thumbnails {
    background-color: black !important;
    border: none;
    padding: 10px;
}

.thumbnails a img {
  border-radius: 15px;
}

sub {
  font-size: 10px !important;
}

h6 {
  color: #FFC000 !important;
  text-align: center;
}

/*overlay*/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 260px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 25px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover:hover .image {
  opacity: 0.3;
}

.thumbnails:hover .middle {
  opacity: 1;
}

.texts {
  background-color: none;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*overlay end*/

/*STAR*/

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/*Signin*/

.signin {
  background-image: url(background.jpg) !important;
}

h2 {
   font-family: 'Roboto', sans-serif !important;
   font-weight: bold !important;

}

.textlog {
background-color: #ffc106;
color: white;
font-size: 16px;
padding: 16px 32px;
text-align: center;
}

.login {
  margin-top: 20px;
}

.form-bottom {
  text-align: center !important;
}

/*News*/

.carousel {
  margin-top: -50px !important;
  margin-bottom: 30px;
}

.card-body {
    flex: 1 1 auto;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 1.25rem;
        padding-top: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1.25rem;
        padding-left: 1.25rem;
}

.card .card-text {
    word-wrap: break-word !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-text:last-child {
    margin-bottom: 0px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.col-md-4 {
    flex: 0 0 33.3333%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 33.3333%;
    max-width: 33.3333%;
}

.h-100 {
    height: 100% !important;
}

.card-footer:last-child {
    border-radius: 0px 0px calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.news {
  background: white !important;
  margin-top: 50px !important;
  padding-top: 56px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

@media (min-width: 992px) {
  .news {
    padding-top: 56px;
  }
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.text-white {
    color: #FFF !important;
}
.m-0 {
    margin: 0px !important;
}
.text-center {
    text-align: center !important;
}
.card {
    word-wrap: break-word;
}

/*footer*/
/*sticky*/
.content {
  min-height: 310%;
}

.news {
  min-height: 100%;
}

.content-signin {
   min-height: 50%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  margin-top: -50px;
}


@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
  background: black repeat scroll left top;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  position: fixed bottom;
  /*  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #003;*/
}

.title-widget {
  color: #898989;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
    background-color: #ffc106;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}

.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
  width:95%;
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
}

.footerp p {
  font-family: 'Gudea', sans-serif; 
  color: white;
}


#social:hover {
          -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
      }
      #social {
        -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
      }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
      .social-fb:hover {
        color: #3B5998;
      }
      .social-tw:hover {
        color: #4099FF;
      }
      .social-gp:hover {
        color: #d34836;
      }
      .social-em:hover {
        color: #f39c12;
      }
      .nomargin { margin:0px; padding:0px;}



.signin-footer {
    background-color: black;
    min-height: 30px;
    width: 100%;
}

.footer-bottom {
    background-color: black;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

/*@media query*/


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}
/*sony experia*/
@media (min-width: 1080px) and (max-width: 1920px) {
  
  //CSS
  
}

/*Amazon Kindle*/
@media (min-width: 1280px) and (max-width: 800px) {
  
  //CSS
  
}
/*navbar collapse*/
@media (min-width: 1280px) and (max-width: 800px) {
   .collapse .news {
       display: none !important;
   }
}

@media (min-width: 540px) and (max-width: 960px) {
   .star .news {
      display: none !important;
   }
}

@media (min-width: 1080px) and (max-width: 1920px) {
   .star {
      display: none !important;
   }
}

@media (min-width: 480px) and (max-width: 854px) {
  
  //CSS
  
}

@media (min-width: 720px) and (max-width: 1280px) {
  
  //CSS
  
}

@media (min-width: 375px) and (max-width: 667px) {

  h6 {
    font-size: 5px;
  }
  
  //CSS
  
}

